
<div style="background: rgb(131, 216, 241);" th:if="${THONG_BAO_OK}" th:text="${THONG_BAO_OK}">
</div>

<div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h2 class="mb-0">Liên Hệ</h2>
    </div>
    <div class="table-responsive">  

        <table class="table text-dark text-start align-middle table-bordered table-hover mb-0">
            <thead>
                <tr style="background-color: rgb(207, 216, 219);">
                    <th scope="col">Tên Khách Hàng</th>
                    <th scope="col">Email</th>
                    <th scope="col">Số Điện Thoại</th>
                    <th scope="col">Tiêu Đề</th>
                    <th scope="col">Phản Hồi</th>
                    <th scope="col">Ngày Tạo</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="dl, dlStat : ${ds}" th:style="${dlStat.index % 2 == 0} ? 'background-color: #f8f9fa;' : 'background-color:rgb(207, 216, 219);'">
                    
                    <td th:text="${dl.tenKhach}"></td>
                    <td th:text="${dl.email}"></td>
                    <td th:text="${dl.soDienThoai}"></td>
                    <td th:text="${dl.tieuDe}"></td>
                    <td th:text="${dl.phanHoi}"></td>
                    <td th:text="${dl.ngayPhanHoiVi}"></td>
                    <td>
                        <a th:href="@{/admin/lienhe/xem/{id}(id=${dl.Id})}"><i class="fas fa-eye"></i></a>
                        |
                        <a th:href="@{/admin/lienhe/xoa(id=${dl.Id})}"><i class="fas fa-trash-alt"></i></a>
                        
                    </td>
                </tr>
            </tbody>	
        </table>
    </div>

</div>
