<form method="post" th:action="@{/admin/danhmuc/sua}" th:object="${dl}">
    <div class="container-fluid pt-4 px-4" style="padding-bottom: 50px;">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between">
                <h2 class="mb-0">Cập Nhật</h2>
                <input type="hidden" th:field="*{Id}"/>
            </div>
            <div class="table-responsive">  
    
                <table class="table text-dark text-start align-middle table-bordered table-hover" th:object="${dl}">
                        <tr>
                            <td>            
                                <p>
                                    <strong>Tên Danh Mục:</strong> 
                                    <input type="text" th:field="*{tenDanhMuc}"/>
                                </p>
                            </td>
                        </tr>
            </table>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <!-- <button type="reset" class="btn btn-outline-primary">Hủy</button> -->
                <a th:href="@{/admin/danhmuc/duyet}" role="button" class="primary btn btn-outline-primary">Hủy</a>
            </div>
            <label>&nbsp;</label>
        </div>
    </div>
</div>
</form>