
<body>
  <div class="container-fluid py-5 mb-5 hero-header">
    <section>
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form method="post" th:action="@{/khachhang/doimatkhau}">
      
                <div class="divider d-flex align-items-center my-4">
                  <p class="text-center"><h3>Đổi Mật Khẩu</h3></p>
                </div>
                
                <div class="form-outline mb-3">
                  <input type="text" id="email" name="email"  class="form-control form-control-lg"
                    placeholder="Nhập địa chỉ email" required/>
                  <label class="form-label" for="form3Example4">Địa chỉ email</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-3">
                  <input type="password" id="matKhauCu" name="matKhauCu" class="form-control form-control-lg"
                    placeholder="Mật Khẩu Cũ" required/>
                  <label class="form-label" for="form3Example4">Nhập mật khẩu cũ</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-3">
                    <input type="password" id="matKhauMoi" name="matKhauMoi" class="form-control form-control-lg"
                      placeholder="Mật Khẩu Mới" required/>
                    <label class="form-label" for="form3Example4">Nhập mật khẩu mới</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-3">
                    <input type="password" id="xnMatKhauMoi" name="xnMatKhauMoi" class="form-control form-control-lg"
                      placeholder="Mật Khẩu Mới" required/>
                    <label class="form-label" for="form3Example4">Xác nhận lại mật khẩu</label>
                </div>
      
                
      
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Xác nhận đổi</button>
                </div>
      
              </form>
            </div>
          </div>
        </div>
      </section>
  </div>
</body>
</html>
