<!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Giỏ Hàng</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
                <!-- <li class="breadcrumb-item"><a href="#">Pages</a></li> -->
                <li class="breadcrumb-item active text-white">Giỏ Hàng</li>
            </ol>
        </div>
        <!-- Single Page Header End -->


        <!-- Cart Page Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Ảnh</th>
                            <th scope="col">Tên Sản Phẩm</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Số Lượng</th>
                            <th scope="col">Tổng Tiền</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>

                            <tr th:each="dl: ${ds}">
                                <form th:action="@{/shopping-cart/update}" method="post">
                                    <th>
                                        <div class="d-flex align-items-center">
                                            <img th:src="${dl.anhSanPham}" class="rounded-circle" style="width: 80px;height: 80px;" >
                                        </div>
                                    </th>
                                    <input type="hidden" name="id" th:value="${dl.idSanPham}">
                                    <td>
                                        <p class="mb-0 mt-4" th:text="${dl.tenSanPham}"></p>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4" th:text="${dl.gia}">$</p>
                                    </td>
                                    <td>
                                    <div class="input-group quantity mt-4" style="width: 100px;">
                                        <!-- <div class="input-group-btn">
                                            <button class="btn btn-sm btn-minus rounded-circle bg-light border" >
                                            <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control form-control-sm text-center border-0" value="1">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div> -->
                                        <input type="number" name="soLuong" onblur="this.form.submit()" th:value="${dl.soLuong}" style="width: 80px; height: 20px;">

                                    </div>
                                    
                                </td>
                                <td>
                                    <p class="mb-0 mt-4" th:text="${dl.gia * dl.soLuong}" ></p>
                                
                                </td>
                                <td>
                                    <button class="btn btn-md rounded-circle bg-light border mt-4" th:href="@{/giohang/xoabo/{id}(id=${dl.Id})}">
                                        <i class="fa fa-times text-danger"></i>
                                    </button>
                                </td>
                            </form>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <!-- <div class="mt-5">
                    <input type="text" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="Coupon Code">
                    <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">Apply Coupon</button>
                </div> -->
                <div class="row g-4 justify-content-end">
                    <!-- <div class="col-8"></div> -->
                    <!-- <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4"> -->
                        <!-- <div class="bg-light rounded"> -->
                            <!-- <div class="p-4">
                                <h1 class="display-6 mb-4">Tổng<span class="fw-normal"></span>Giỏ Hàng</h1>
                                <div class="d-flex justify-content-between mb-4">
                                    <h5 class="mb-0 me-4">Tổng Tiền Hàng:</h5>
                                    <p class="mb-0">$</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h5 class="mb-0 me-4">Phí Ship</h5>
                                    <div class="">
                                        <p class="mb-0">$3.00</p>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                                <h5 class="mb-0 ps-4 me-4">Thành Tiền</h5>
                                <p class="mb-0 pe-4">$</p>
                            </div> -->
                            <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="button">Thanh Toán</button>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>