<div class="container-fluid py-5 mb-5 hero-header">
    <div style="text-align: center;">
        <h2>Đặt Lại Mật Khẩu</h2>
    </div>
    
    <form th:action="@{/reset_password}" method="post" style="max-width: 250px; margin: 0 auto; ">
        <input type="hidden" name="token" th:value="${token}" />
        <div class="rounded p-1">
            <div>
                <p>
                    <input type="password" name="password" id="password" class="form-control mb-3"
                        placeholder="Nhập mật khẩu mới" required autofocus />
                </p>         
                <p>
                    <input type="password" class="form-control mb-3" placeholder="Xác nhận mật khẩu mới"
                        required oninput="checkPasswordMatch(this);" />
                </p>         
                <p>
                    <input type="submit" value="Đổi Mật Khẩu" class="btn btn-primary" />
                </p>
            </div>
        </div>
    </form>
</div>