<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="account.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    
</head>
<body>
  <div class="container-fluid py-5 mb-5 hero-header">
    <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form>
      
                <div class="divider d-flex align-items-center my-4">
                  <p class="text-center"><h3>Thông tin tài khoản</h3></p>
                </div>
                
                <!-- text input -->
                <div class="form-outline mb-3">
                  <label class="form-label" for="tenDayDu">Tên Đầy Đủ</label>
                  <input type="text" id="tenDayDu" th:field="${tk.tenDayDu}" class="form-control form-control-lg"
                  disabled/>
                  
                </div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="email">Địa chỉ email</label>
                  <input type="email" id="email" th:field="${tk.email}" class="form-control form-control-lg" disabled/>
                  
                </div>
      
              </form>
            </div>
          </div>
        </div>
      </section>
  </div>
</body>
</html>
