
<div style="background: rgb(84, 154, 177);" th:if="${USER_LOGGED}" th:text="${USER_LOGGED}">
</div>
    
<a href="#" role="button" class="primary" th:href="@{/admin/nhanvien/them}">Thêm Mới</a>

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h2 class="mb-0">Danh Sách Nhân Viên</h2>
        </div>
        <div class="table-responsive">  

            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Ảnh Nhân Viên</th>
                        <th scope="col">Tên Đầy Đủ</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mật Khẩu</th>
                        <th scope="col">Điện Thoại</th>
                        <th scope="col">Ngày Tạo</th>
                        <th scope="col">Mô Tả</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="text-dark" th:each="dl : ${ds}">
                        <td>
                            <img style="height: 70px; width: 70px;" th:src="${dl.anhNhanVien}">
                        </td>
                        <td th:text="${dl.tenDayDu}"></td>
                        <td th:text="${dl.email}"></td>
                        <td th:text="${dl.matKhau}"></td>
                        <td th:text="${dl.dienThoai}"></td>
                        <td th:text="${dl.ngayTaoNV}"></td>
                        <td th:text="${dl.moTaNhanVien}"></td>
                        <td>
                            <a th:href="@{/admin/nhanvien/xem/{id}(id=${dl.Id})}"><i class="fas fa-eye"></i></a>
                            |
                            <a th:href="@{/admin/nhanvien/sua(id=${dl.Id})}"><i class="fas fa-edit"></i></a>
                            |
                            <a th:href="@{/admin/nhanvien/xoa(id=${dl.Id})}"><i class="fas fa-trash-alt"></i></a>
                            
                        </td>
                    </tr>
                </tbody>	
            </table>
        </div>
    </div>
</div>
