
  <div style="background: rgb(131, 216, 241);;" th:if="${THONG_BAO_OK}" th:text="${THONG_BAO_OK}">
  </div>
    
<div class="container-fluid pt-4 px-4" style="padding-bottom: 50px;">
    <a role="button" class="primary" th:href="@{/admin/caidat/them}">Thêm Mới</a>
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h2 class="mb-0">Cài Đặt</h2>
        </div>
        <div class="table-responsive">  

            <table class="table text-dark text-start align-middle table-bordered table-hover" th:object="${dl}">
                <thead>
                    <tr class="text-dark" style="background-color: rgb(207, 216, 219);">
                        <th scope="col">Khóa</th>
                        <th scope="col">Giá Trị</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="text-dark" th:each="dl, dlStat : ${ds}" th:style="${dlStat.index % 2 == 0} ? 'background-color: #f8f9fa;' : 'background-color:rgb(207, 216, 219);'">
                        <td th:text="${dl.khoa}"></td>
                        <td th:text="${dl.giaTri}"></td>
                        <td>
                            <a th:href="@{/admin/caidat/xem/{id}(id=${dl.Id})}"><i class="fas fa-eye"></i></a> 
                            |
                            <a th:href="@{/admin/caidat/sua(id=${dl.Id})}"><i class="fas fa-edit"></i></a> 
                            |
                            <a th:href="@{/admin/caidat/xoa(id=${dl.Id})}"><i class="fas fa-trash-alt"></i></a>
                            
                        </td>
                    </tr>
                </tbody>	
            </table>
        </div>
    </div>
</div>
