<form method="post" enctype="multipart/form-data" th:action="@{/admin/nhasanxuat/xoa}" th:object="${dl}">
    <div class="container-fluid pt-4 px-4" style="padding-bottom: 50px;">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between">
                <h2 class="mb-0">Xác Nhận Xóa</h2>
                <input type="hidden" th:field="*{Id}"/>
            </div>
            <div class="table-responsive">  
    
                <table class="table text-dark text-start align-middle table-bordered table-hover" th:object="${dl}">
                        <tr class="text-dark"  >
                            <td rowspan="8"  style="text-align:center; width: 30%;">
                                <div>
                                    <img style="height: 280px;width: 280px;object-fit: cover;" th:src="*{anhNhaSanXuat}">
                                </div>
                                <br>
                                <input type="file" th:field="*{file}" disabled/>
                            </td>
                            <td>            
                                <p>
                                    <strong>Tên Sản Phẩm:</strong>
                                    <input type="text" th:field="*{tenNhaSanXuat}" disabled />
                                </p>
                                            
                            </td>
                        </tr>
                        
            </table>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Xóa</button>
                <!-- <button type="reset" class="btn btn-outline-primary">Hủy</button> -->
                <a th:href="@{/admin/nhasanxuat/duyet}" role="button" class="primary btn btn-outline-primary">Hủy</a>
            </div>
            <label>&nbsp;</label>
        </div>
    </div>
</div>
</form>