<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error Page</title>
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
    <div class="frem">
        <p>404</p>
        <h2>Lỗi 404-Không tồn tại trang bạn yêu cầu !</h2>
        <h5>Chúng tôi đang xem lại, bạn vui lòng quay lại sau.</h5>
        <a href="/">Quay lại trang chủ</a>
    </div>
</body>
</html>
