
<div style="background: green;" th:if="${THONG_BAO_OK}" th:text="${THONG_BAO_OK}">
</div>
    
<a href="#" role="button" class="primary" th:href="@{/admin/sanpham/them}">Thêm Mới</a>

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h2 class="mb-0">Danh Sách Sản Phẩm</h2>
        </div>
        <div class="table-responsive">  

            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Ảnh Sản Phẩm</th>
                        <th scope="col">Tên Sản Phẩm</th>
                        <th scope="col">Tên Nhà Sản Xuất</th>
                        <th scope="col">Tên Danh Mục</th>
                        <th scope="col">Đơn Giá</th>
                        <th scope="col">Mô Tả</th>
                        <th scope="col">Trạng Thái</th>
                        <th scope="col">Bán Chạy</th>
                        <th scope="col">Nổi Bật</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="text-dark" th:each="dl : ${ds}">
                        <td>
                            <img style="height: 70px; width: 70px;" th:src="${dl.anhSanPham}">
                        </td>
                        <td th:text="${dl.tenSanPham}"></td>
                        <td th:text="${dl.nsx.tenNhaSanXuat}"></td>
                        <td th:text="${dl.dm.tenDanhMuc}"></td>
                        <td th:text="${dl.donGia}"></td>
                        <td th:text="${dl.moTa}"></td>
                        <td th:text="${dl.trangThai}"></td>
                        <td th:text="${dl.banChay}"></td>
                        <td th:text="${dl.noiBat}"></td>
                        <td>
                            <!-- <a th:href="@{/admin/sanpham/xem/{id}(id=${dl.Id})}">Xem</a>
                            | -->
                            <a th:href="@{/admin/sanpham/sua(id=${dl.Id})}"><i class="fas fa-edit"></i></a>
                            |
                            <a th:href="@{/admin/sanpham/xoa(id=${dl.Id})}"><i class="fas fa-trash-alt"></i></a>
                            
                        </td>
                    </tr>
                </tbody>	
            </table>
        </div>
    </div>
</div>
